.btn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: none;
  background-color: hsl(206, 100%, 50%);
  color: #fff;
}

.btn:focus,
.btn:hover {
  background-color: hsl(206, 100%, 60%);
}

.btn:active {
  background-color: hsl(206, 100%, 30%);
  color: #fff;
}
