.form {
  display: flex;
  align-items: center;
  gap: 2em;
}

.title,
.author {
  width: 15em;
  min-height: 2em;
  border: 1px solid #5e3c58;
  border-radius: 5px;
  padding: 0.5em;
}

.title:focus,
.author:focus {
  border-color: #c7bbc9;
  outline: 0;
}
