.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.title,
.author,
.category {
  width: 15em;
  min-height: 2em;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 1em;
  background-color: #fff;
  color: #726d6d;
}

.title:focus,
.author:focus,
.category:focus {
  border-color: #c7bbc9;
  outline: 0;
}

.header {
  background-color: #f5f6fa;
  color: #888;
  width: 30.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
}
